*{
    margin:0;
}

body{
    background-color: cadetblue;
    margin: 0px;
}
.nav1{
    
    font-size: 1.5rem;;
    padding: 20px;
    color:whitesmoke;
    background-color:rgb(29, 121, 29);
    position: sticky;
    top:0;
    
    
}
.nav1 img{
    height:60px;
    width: 60px;
    vertical-align: middle;
}
.nav1 i{
    padding:5px;
    margin:5px;
}
.nav1 a{
   
    color:whitesmoke;
    padding: 10px;
    text-decoration: none;
}
.nav1 a:hover{
    border-radius: 50px;
    background-color: black;
}


.para1{
    word-spacing: 3px;
    text-align: center;
    background-color:darkkhaki;
}
.para1 h1{
    font-family: 'Courier New', Courier, monospace;
    text-align:center;
    text-decoration: underline;
    letter-spacing: 10px;
    text-transform: capitalize;
}

.para1 img{
    height:400px;
    width: 400px;
    float:right;
}

.bgc{
    
    background-color:mediumseagreen;
}
.scs{
    font-family: 'Courier New', Courier, monospace;
    text-align:center;
    text-decoration: underline;
    letter-spacing: 10px;
    text-transform: capitalize;

}
figure{
    display: inline-block;
    text-align: center;
}

.imgs{
    width: 300px;
    height: 300px;
}

.footer{
    text-align: center;
    font-family:cursive;
    font-size: 15px;
    color:whitesmoke;
    background-color: black;
}
.footer i{
    color:whitesmoke;
}
